*{
    margin: 0vw;
    padding: 0vw;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/images/background.jpg);
    background-position: center;
    background-size: cover;


}

.clock{
    width: 30vw;
    height: 30vw;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,#05263c,#000d1a);
}

.clock::before{
    content: "";
    width: 32vw;
    height: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right,#00d9ff,#ee00ff);
    box-shadow: 0 0 15px 15px rgba(0,0,0,0.3);
    z-index: -1;
}

.dash{
    transform: rotate(calc(30deg*var(--n)));
    text-align: center;
    position: absolute;
    inset: -0.5vw;
    font-size: 2vw;
    color: #00d9ff;

}
.big{
    font-size: 1.5vw;
    color: wheat;
    
}
.test{
    transform: rotate(calc(6deg*var(--n)));
    text-align: center;
    position: absolute;
    inset: -0.5px;
    font-size: .5vw;
    color: #fbff04;
}


.number{
    transform: rotate(calc(30deg*var(--n)));
    position: absolute;
    text-align: center;
    inset: 1.5vw;
    font-size: 2vw;
    color: #00d9ff;
    text-shadow: 0 0 12px #ee00ff;
}

.number b{
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.center-dot{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #ee00ff;
    border: 0.3vw solid #00d9ff;
    border-radius: 50%;
}

.hour-hand , .minute-hand, .second-hand{
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%)rotate(calc(var(--rotate) *
    1deg));
    transform-origin: bottom;
    border-radius: 30px 30px 0 0;
}

.hour-hand{
    background: linear-gradient(#00d9ff,#ee00ff);
    width: 1.2vw;
    height: 7vw;

}

.minute-hand{
    width: 1vw;
    height: 11vw;
     background: linear-gradient(to top,#00d9ff,#ee00ff);
}

.second-hand{
    width: 0.1vw;
    height: 13.5vw;
    background-color: red;
}




    
